.username {
  color: #000;
  line-height: 1.1em;
  letter-spacing: -.035em;
}

.container {
  background-color: ghostwhite;
  width: 860px;
  height: 1400px;
  margin-top: -1800px;
  margin-left: 420px;
}

.row {
  margin: 40px;
}

.line {
  width: 20em;
  color: gray;
}

.user {
  color: #4b4a4f;
  text-transform: uppercase;
  font-size: 11.2px;
  letter-spacing: .04em;
  font-weight: 600;
}

.email {
  display: inline-block;
  color: #000;
  line-height: 1.1em;
  letter-spacing: -.035em;
  font-size: 16px;
  font-weight: 600;
}

.username-message {
  background-color: ghostwhite;
  margin-right: 140px;
  float: left;
  height: 60px;
}
