<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-10">
    <div class="container">
      <a class="navbar-brand lead">
        User Profile
      </a>
      <ul class="user-profile-nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="">Company Reference & Metadata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Economic Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Realtime Prices</a>
        </li>
      </ul>
      <label class="user-navbar-profile-icon">
        <fa-icon class="m-4 col-md-4" [icon]="faUserAstronaut"></fa-icon>
      </label>
      <label class="user-navbar-profile-logout-icon">
        <i class="col-md-2 pi pi-sign-out">
          <span class="m-2 lead">Logout</span>
        </i>
      </label>
    </div>
  </nav>
</div>
