<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark bg-opacity-10">
    <div class="container">
      <a class="navbar-brand lead">
        User Profile
      </a>
      <ul class="user-profile-nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="">Company Reference & Metadata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Economic Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Realtime Prices</a>
        </li>
      </ul>
      <div class="user-navbar-profile-icon">
        <p-avatar label="V" styleClass="p-mr-2"
                  size="middle"
                  [style]="{'background-color':'#2196F3',
                  'color': '#ffffff'}"
                  shape="circle">
        </p-avatar>
      </div>
      <div class="account-settings">
        <p class="p-4 p-button-text">Account</p>
        <i (click)="showUserMenu()" class="pi pi-chevron-down">
          <p-menu [model]="items" [showClear]="true" optionLabel="name" placeholder="Select a Country"></p-menu>
        </i>
      </div>
      <div class="user-navbar-profile-logout-icon">
        <i class="col-md-2 pi pi-sign-out">
          <span class="m-2 lead">Logout</span>
        </i>
      </div>
    </div>
  </nav>
</div>
