
<!--<ng-template>-->
<!--  <p-message severity="success" text="Message Content" ></p-message>-->
<!--  <p-message severity="info" text="Message Content"></p-message>-->
<!--</ng-template>-->
<div class="container">
  <div class="row mt-3">
    <div class="input-group mb-3 w-50 h-100">
      <label class="input-group-text shadow" for="inputGroupSelect01">Select SMA Symbol Type</label>
      <select [(ngModel)]="dropdownSymbolItem" class="form-select shadow" id="inputGroupSelect02">
        <option *ngFor="let dropdownSymbolItem of dropdownSymbolItems" selected [ngValue]="dropdownSymbolItem">{{dropdownSymbolItem}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="input-group mb-3 w-50 h-100">
      <label class="input-group-text shadow" for="inputGroupSelect01">Select SMA Time Period Type</label>
      <select [(ngModel)]="dropdownTimePeriodItem" class="form-select shadow" id="inputGroupSelect03">
        <option *ngFor="let dropdownTimePeriodItem of dropdownTimePeriodItems" selected [ngValue]="dropdownTimePeriodItem">{{dropdownTimePeriodItem}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="input-group mb-3 w-50 h-100">
      <label class="input-group-text shadow" for="inputGroupSelect01">Select SMA Series Type</label>
      <select [(ngModel)]="dropdownSeriesTypeItem" class="form-select shadow" id="inputGroupSelect01">
        <option *ngFor="let seriesType of dropdownSeriesTypeItems" selected [ngValue]="seriesType">{{seriesType}}</option>
      </select>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="input-group mb-3 w-50">
      <label class="input-group-text shadow" for="inputGroupSelect01">Select SMA Interval</label>
      <select [(ngModel)]="dropdownIntervalItem" class="form-select shadow" id="inputGroupSelect">
        <option *ngFor="let interval of dropdownIntervalItems" selected>{{interval}}</option>
      </select>
    </div>
  </div>
  <p-button class="shadow" (onClick)="getSMAProperties()" label="Update"></p-button>
  <mat-progress-spinner *ngIf="isLoading" color="primary" mode="indeterminate" value="20" diameter="300"></mat-progress-spinner>
</div>

<fusioncharts
  [type]="type"
  [width]="width"
  [height]="height"
  [dataSource]="dataSource"
>
</fusioncharts>

<p-table [columns]="cols" [value]="items" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
</p-table>
