<!--<div class="box shadow p-3 mb-5 bg-white rounded">-->
<!--  <h2 class="tab-content  font-weight-bold text-center">Hello!</h2>-->
<!--  <p class="message-signin lead text-center">Sign into your account here.</p>-->
<!--</div>-->

<!--<div class="p-grid">-->
<!--  <div class="p-col-12 p-md-6 p-lg-3">-->
<!--    <form [formGroup]="loginForm">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--      <input #usernameInput formControlName="username" type="text" pInputText placeholder="username">-->
<!--    </div>-->

<!--    <div class="p-inputgroup">-->
<!--    <span class="p-inputgroup-addon">-->
<!--      <i class="pi pi-envelope"></i>-->
<!--    </span>-->
<!--      <input #emailInput formControlName="email" type="text" pInputText placeholder="name@example.com">-->
<!--    </div>-->
<!--    <div class="p-inputgroup">-->
<!--    <span class="p-inputgroup-addon">-->
<!--      <i class="pi pi-users"></i>-->
<!--    </span>-->
<!--      <input #firstnameInput formControlName="firstname" type="text" pInputText placeholder="firstname">-->
<!--    </div>-->

<!--    <div class="p-inputgroup">-->
<!--    <span class="p-inputgroup-addon">-->
<!--      <i class="pi pi-users"></i>-->
<!--    </span>-->
<!--      <input #lastnameInput formControlName="lastname" type="text" pInputText placeholder="lastname">-->
<!--    </div>-->
<!--      <div class="p-grid">-->
<!--        &lt;!&ndash;      <input #passwordInput formControlName="password" type="password" pPassword />&ndash;&gt;-->
<!--        <p-password #passwordInput formControlName="password" placeholder="password" class="password" strongRegex="^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})." [toggleMask]="true"></p-password>-->
<!--      </div>-->

<!--      <div class="p-grid">-->
<!--      <p-inputMask [(ngModel)]="mobileValue" #mobileInput formControlName="mobile" mask="(+380) 999-999999" characterPattern="[А-Яа-я]" placeholder="mobile"></p-inputMask>-->
<!--    </div>-->
<!--    </form>-->
<!--  </div>-->

<!--&lt;!&ndash;  <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;    <p-toast></p-toast>&ndash;&gt;-->

<!--&lt;!&ndash;    <p-captcha siteKey="https://www.google.com/recaptcha/api.js?render=explicit&onload=loadCaptcha" (onResponse)="showResponse($event)"></p-captcha>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  <div class="p-grid">-->
<!--    <div class="p-col-12 p-md-6 p-lg-3 loginBtn">-->
<!--      <button class="show-left-menu-btn btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">-->
<!--        Show user navbar-->
<!--      </button>-->
<!--      <p-button #signInBtn>Login</p-button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;    <h1 class="signIn-header lead display-3 p-3 mb-3">Sign In</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <form (submit)="login()" [formGroup]="loginForm">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <input (keydown)="handleUserNameInput($event)"&ndash;&gt;-->
<!--&lt;!&ndash;               #usernameInput&ndash;&gt;-->
<!--&lt;!&ndash;               formControlName="username"&ndash;&gt;-->
<!--&lt;!&ndash;               [ngClass]="{'withError': username?.errors}"&ndash;&gt;-->
<!--&lt;!&ndash;               class="email-username-input form-control"&ndash;&gt;-->
<!--&lt;!&ndash;               id="UserNamefloatingInput"&ndash;&gt;-->
<!--&lt;!&ndash;               placeholder="Username">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="usernamefloatingInput">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="pi pi-envelope"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          Username&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <input (keydown)="handleEmailInput($event)"&ndash;&gt;-->
<!--&lt;!&ndash;               #emailInput&ndash;&gt;-->
<!--&lt;!&ndash;               formControlName="email"&ndash;&gt;-->
<!--&lt;!&ndash;               [ngClass]="{'withError': email?.errors}"&ndash;&gt;-->
<!--&lt;!&ndash;               class="email-username-input form-control"&ndash;&gt;-->
<!--&lt;!&ndash;               id="EmailfloatingInput"&ndash;&gt;-->
<!--&lt;!&ndash;               placeholder="Email">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="emailfloatingInput">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="pi pi-user"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          name@example.com&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-floating mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <show-hide-password>&ndash;&gt;-->
<!--&lt;!&ndash;          <input (keydown)="handlePasswordInput($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                 formControlName="password"&ndash;&gt;-->
<!--&lt;!&ndash;                 #passwordInput&ndash;&gt;-->
<!--&lt;!&ndash;                 [ngClass]="{'withError': password?.errors}"&ndash;&gt;-->
<!--&lt;!&ndash;                 type="password"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="password-input form-control"&ndash;&gt;-->
<!--&lt;!&ndash;                 id="PasswordfloatingInput"&ndash;&gt;-->
<!--&lt;!&ndash;                 placeholder="Password">&ndash;&gt;-->
<!--&lt;!&ndash;        </show-hide-password>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="passwordfloatingInput"></label>&ndash;&gt;-->

<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <button type="submit" #signUpBtn (click)="showErrorMessage()" class="signup-btn btn btn-primary">Sign In</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="signup">&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;<div *ngIf="withError" class="error-message bg-danger text-white">&ndash;&gt;-->
<!--&lt;!&ndash;  Email or password not valid&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">-->
<!--  <div class="offcanvas-header">-->
<!--    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Dashboard</h5>-->
<!--    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--  </div>-->
<!--  <div class="offcanvas-body">-->
<!--    <div>-->
<!--      <div class="vertical-nav bg-white" id="sidebar">-->
<!--        <div class="py-4 px-3 mb-4 bg-light">-->
<!--          <div class="media d-flex align-items-center">-->
<!--            <img src="../../../../../assets/logo-social.png" alt="..." width="100" class="mr-3 rounded-circle img-thumbnail shadow-sm">-->
<!--          </div>-->
<!--        </div>-->

<!--        <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>-->

<!--        <ul class="nav flex-column bg-white mb-0">-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic bg-light">-->
<!--              <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>-->
<!--              Company Reference & Metadata-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>-->
<!--              Economic Data-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>-->
<!--              Realtime Prices-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->

<!--        <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Data</p>-->

<!--        <ul class="nav flex-column bg-white mb-0">-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>-->
<!--              Area charts-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>-->
<!--              Bar charts-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>-->
<!--              Pie charts-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a href="#" class="nav-link text-dark font-italic">-->
<!--              <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>-->
<!--              Line charts-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
