.withError {
  border: 1px solid red;
}

.show-left-menu-btn {
  float: right;
  padding: 4px;
  margin: 20px;
}

.loginBtn {
  display: flex;
  justify-content: right;
}

.password {
  height: 765px;
}

