.account-header {
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 800;
  color: #000;
  line-height: 1.1rem;
  letter-spacing: -.035em;
  margin-block-start: 0.57em;
  margin-block-end: 0.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.nav {
  margin-bottom: 800px;
}

.container-fluid {
  min-height: calc(100% - 529px - 56px);
}

.page-title {
  margin-bottom: 60px;
  text-align: center;
}

.navbar {
  margin-bottom: -240px;
  margin-right: -13em;
  width: 400px;
  height: 1800px;
}

.nav-item {
  font-size: 1.5em;
  padding-top: -600em;
}

.preferences .username-message {
  color: #7d7c83;
  line-height: 1.4em;
  font-size: 18px;
  position: fixed;
}

.nav-item {
  margin-top: -145px;
}
